li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

li p {
  font-weight: bolder;
}

#edittask {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 50%;
  margin: 0 1rem 0 0;
}

.dark {
  background-color: rgb(199 210 254);
  color: black;
  border: 2px solid whitesmoke;
}

.light {
  background-color: rgb(77, 96, 182);
  color: white;
  text-decoration-line: line-through;
  border: 2px solid whitesmoke;
}
